/* style.css */

body {
    color: gray;
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px
}

.description {
    font-size: 20px;
    max-width: 75%;
    
}

li {
    padding: 2px
}

h1 {
    color: gray;
    border: 3px solid lightblue;
    text-align: center;
    width: 500px;
}

h3 {
    align-items: center;
    border: 3px solid lightblue;
    padding: 10px;
    margin: 60px;
    width: 160px;
}
